.content-container {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  z-index: 10;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-y: auto;
  background: #e0e0e0;
  border-radius: 10px;
  height: 450px;
  margin-left:10px;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block1 textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.block3 textarea {
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #007bff; /* underline only */
  background: transparent;
  padding: 5px 0;
  resize: none;
  outline: none; /* remove focus outline */
}
